:root {
  --main: #d45649;
  --main-light: #eb695b;
  --button-gray: #cccfd7;
  --text-darker: #333;
  --text-lighter: #999;
  --text-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.24;
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.nav-bar {
  background: var(--main);
  color: var(--text-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.7rem 1rem;
}

.nav-bar .logo {
  width: 100%;
  text-align: center;
}

.nav-bar-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
  margin-top: 1rem;
}

.nav-bar-item .sm-none {
  display: none;
}

.nav-bar-link {
  color: var(--text-white);
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}

.nav-bar-link:hover {
  color: var(--text-lighter);
}

.main-menu {
  position: fixed;
  display: none;
  right: -200px;
  top: 0;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding-top: 2.5em;
  min-height: 100%;
  width: 200px;
  background-color: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: 0.75rem;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #383838;
}

.main-menu a:hover,
.main-menu a:focus {
  background: var(--main);
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

.main-menu:target {
  display: block;
  right: 0;
  outline: none;
}

.main-menu:target .menu-close {
  z-index: 1001;
}

.main-menu:target ul {
  position: relative;
  z-index: 1000;
}

.main-menu:target + .backdrop {
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0, 0, 0, 0.85);
  cursor: default;
}

.header-content {
  height: 522px;
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-content-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-content-media {
  min-width: 100%;
  min-height: 100%;
}

.header-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #222;
  opacity: 0.56;
  z-index: 1;
}

.header-content-info {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-content-heading {
  margin-bottom: 1rem;
  color: var(--text-white);
  text-transform: uppercase;
  text-align: center;
}

.header-content-button {
  z-index: 2;
  text-align: center;
  background-color: var(--button-gray);
  padding: 10px;
  width: 34%;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 3px;
  color: var(--text-darker);
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header-content-button:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.search {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
}

.search-label {
  text-transform: uppercase;
  color: var(--text-darker);
}

.search-input, .search-button {
  padding: 10px;
  margin-bottom: 0.5rem;
}

.search-input {
  width: 100%;
}

.search-input :focus {
  outline: none;
}

.search-button {
  color: var(--text-white);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--main);
  border: 1px solid var(--main);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

.search-button:hover {
  background-color: var(--main-light);
  -webkit-box-shadow: 1px 1px 5px #666;
          box-shadow: 1px 1px 5px #666;
}

.search-main {
  margin: 3rem 0;
}

.how-works {
  padding: 3rem 0;
}

.how-works-heading {
  color: var(--main);
  text-transform: uppercase;
  text-align: center;
}

.how-works-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.how-works-content img {
  width: 6rem;
  height: 6rem;
}

.how-works-heading-tertiary {
  text-transform: uppercase;
  color: var(--text-darker);
  margin: 1rem 0;
}

.how-works-para {
  text-align: center;
  padding: 0 1rem;
}

.middle-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
  color: #fff;
}

.middle-item img {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
}

.middle-action {
  width: 75%;
}

.middle-para {
  margin-bottom: 1rem;
}

.middle-button {
  background-color: #cccfd7;
  text-decoration: none;
  color: var(--main);
  padding: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.middle-button:hover {
  background-color: #222;
  color: #cccfd7;
}

.middle-item-first {
  background-color: var(--main);
}

.middle-item-second {
  background-color: #99a4a5;
}

.middle-item-third {
  background-color: #519cd8;
}

.footer {
  background: #000;
  color: #fff;
  margin-bottom: 0;
  padding-top: 2rem;
}

.footer-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0.5rem 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.footer-logo {
  border: 1px solid #fff;
  height: 4rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #000;
  border-radius: 50%;
  top: -10px;
}

.footer-logo:hover {
  background-color: var(--main);
}

.footer-ad {
  margin-right: 2rem;
}

.footer-fb {
  margin-left: 3rem;
}

.footer-link {
  color: var(--text-white);
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 8px;
}

.footer-link:hover {
  color: #99a4a5;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0.4rem;
}

.footer-middle-subscribe, .footer-middle-contact, .footer-middle-about {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-middle-heading {
  text-transform: uppercase;
}

.footer-middle-subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-middle-subscribe-input {
  width: 70%;
  background-color: #000;
  border: 1px solid #666;
}

.footer-middle-subscribe-input:focus {
  outline: none;
  border: 1px solid #555;
}

.footer-middle-subscribe-btn {
  background-color: #666;
  cursor: pointer;
  border: 1px solid #555;
  outline: none;
  padding: 5px;
  color: #fff;
}

.footer-middle-subscribe-btn:hover {
  color: #eee;
}

.footer-middle-contact-main-color {
  color: var(--main);
}

.footer-middle-para {
  text-align: center;
  font-size: 12px;
}

.footer-about-more-link {
  color: var(--main);
  text-decoration: none;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  background-color: #1f1f1f;
  padding: 2rem 1rem;
}

.footer-bottom-social-link {
  text-decoration: none;
  color: #555;
  font-size: 1.2rem;
}

.footer-bottom span {
  font-size: 12px;
}

.footer-bottom-madeby, .footer-bottom-future {
  margin-right: 5px;
}

.search-form {
  background-color: #eee;
  padding: 2rem 1rem;
}

.search-form-title {
  margin-bottom: 2rem;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 63%;
  margin: 0 auto;
}

.form-selection-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-label {
  color: var(--text-darker);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-input, .form-select {
  padding: 7px;
  margin-bottom: 0.5rem;
}

.form-input:focus, .form-select:focus {
  outline-color: #6cabde;
}

.form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-btn-info, .form-btn-warning {
  padding: 1px 4px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  margin-top: 6px;
}

.form-btn-info {
  background: #457db4;
  margin-right: 10px;
}

.form-btn-info:hover {
  background: #3d86ce;
}

.form-btn-warning {
  background: #e5ab5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-btn-warning:hover {
  background: #e9a23f;
}

.form-btn-warning-icon {
  margin-right: 4px;
}

.main-sign-up {
  padding: 4rem 1.5rem;
}

.main-sign-up-heading {
  text-align: center;
  text-transform: capitalize;
}

.sign-up-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 2.5rem auto;
}

.sign-up-form > * {
  display: block;
}

.sign-up-form-label {
  color: var(--text-darker);
  text-transform: uppercase;
  font-weight: bold;
}

.sign-up-form-input {
  padding: 10px;
  background-color: #dee2e3;
  border: 1px solid #888;
  text-transform: capitalize;
}

.sign-up-form-input:focus {
  outline-color: aquamarine;
}

.sign-up-form-btns {
  margin-top: 0.5rem;
}

.sign-up-form-btns .sign-in,
.sign-up-form-btns .search-button {
  cursor: pointer;
}

.sign-up-form-btns .sign-in {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-weight: 400;
}

.sign-up-form-btns .sign-in:hover {
  color: #777;
}

.sign-up-form-btns .search-button {
  margin-top: 1rem;
}

.results-heading {
  text-align: center;
  padding: 2rem 0;
}

.results-schools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.results-schools-school {
  height: 250px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.results-schools-school-p {
  color: var(--text-white);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 4;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  height: 15%;
  margin-bottom: 1rem;
  padding: 6px 8px;
}

.results-schools-school-more {
  text-decoration: none;
  background-color: var(--main);
  padding: 6px;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: none;
}

.results-schools-school-more:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.results-schools-school:hover > .results-schools-school-p,
.results-schools-school:hover > .results-schools-school-more {
  display: block;
}

.results .school-1 {
  background: url(../images/school-1-min.jpg);
  background-size: cover;
  background-position: center center;
}

.results .school-2 {
  background: url(../images/school-2-min.jpg);
  background-size: cover;
  background-position: center center;
}

.results .school-3 {
  background: url(../images/school-3-min.jpg);
  background-size: cover;
  background-position: center center;
}

.results .school-4 {
  background: url(../images/school-4-min.jpg);
  background-size: cover;
  background-position: center center;
}

.results .school-5 {
  background: url(../images/school-5-min.jpg);
  background-size: cover;
  background-position: center center;
}

.results .school-6 {
  background: url(../images/school-6-min.jpg);
  background-size: cover;
  background-position: center center;
}

.main-school-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 2rem;
}

.school-result {
  -webkit-box-shadow: 0 0 2.1px rgba(0, 0, 0, 0.036), 0 0 5.8px rgba(0, 0, 0, 0.045), 0 0 13.9px rgba(0, 0, 0, 0.051), 0 0 46px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 2.1px rgba(0, 0, 0, 0.036), 0 0 5.8px rgba(0, 0, 0, 0.045), 0 0 13.9px rgba(0, 0, 0, 0.051), 0 0 46px rgba(0, 0, 0, 0.07);
  width: 80%;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.details-item {
  border: 1px solid #999;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}

.details-item-first, .details-item-second {
  font-weight: bold;
}

.details-item-first {
  color: #333;
}

.details-item-second {
  color: #81b6e2;
}

.details-btn {
  border-radius: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.result-info {
  margin-top: 4rem;
  margin-bottom: 1rem;
  width: 80%;
}

.click-more {
  background: #f5f5f5;
  padding: 10px 6px;
  width: 80%;
  margin-bottom: 3rem;
}

.click-more h2 {
  text-align: center;
}

.click-more :hover {
  background: #dad5d5;
}

.click-more-link {
  text-decoration: none;
  color: var(--text-darker);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.click-more-link:hover {
  background: #dad5d5;
}

.school-location .how-works-heading {
  padding: 10px;
  text-align: center;
}

.school-location iframe {
  width: 300px;
  height: 250px;
}

@media (min-width: 768px) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.4rem 1rem;
  }
  .nav-bar .logo {
    margin-top: 10px;
    width: 50%;
    text-align: left;
  }
  .nav-bar-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 2rem;
  }
  .nav-bar-item .sm-none {
    display: none;
  }
  .header-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-content-info {
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  .header-content-heading {
    margin-bottom: 1rem;
    color: var(--text-white);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    text-align: left;
  }
  .header-content-button {
    z-index: 2;
    text-align: center;
    background-color: var(--button-gray);
    padding: 10px;
    width: 20%;
    margin-top: 1rem;
    margin-left: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border-radius: 3px;
    color: var(--text-darker);
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .header-content-button:hover {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
  .search {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 8px;
  }
  .search-label {
    width: 100%;
    text-transform: uppercase;
    color: var(--text-darker);
    padding-left: 1.7rem;
  }
  .search-input, .search-button {
    padding: 10px;
    margin-bottom: 0.5rem;
    outline: none;
    width: 70%;
  }
  .search-input :focus {
    outline-color: #3d86ce;
  }
  .search-button {
    color: var(--text-white);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--main);
    border: 1px solid var(--main);
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 20%;
  }
  .search-button:hover {
    background-color: var(--main-light);
    -webkit-box-shadow: 1px 1px 5px #666;
            box-shadow: 1px 1px 5px #666;
  }
  .how-works {
    padding: 3rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .how-works-heading {
    color: var(--main);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }
  .how-works-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3rem;
    width: 50%;
  }
  .how-works-content img {
    width: 6rem;
    height: 6rem;
  }
  .how-works-heading-tertiary {
    text-transform: uppercase;
    color: var(--text-darker);
    margin: 1rem 0;
  }
  .how-works-para {
    text-align: center;
    padding: 0 1rem;
  }
  .middle-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5rem 4rem;
    color: #fff;
  }
  .middle-item img {
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
  }
  .middle-action {
    width: 75%;
  }
  .middle-para {
    margin-bottom: 1rem;
  }
  .middle-button {
    background-color: #cccfd7;
    text-decoration: none;
    color: var(--main);
    padding: 10px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .middle-button:hover {
    background-color: #222;
    color: #cccfd7;
  }
  .footer-link {
    color: var(--text-white);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
  }
  .footer-link:hover {
    color: #99a4a5;
  }
  .footer-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2rem;
  }
  .footer-middle-subscribe, .footer-middle-contact, .footer-middle-about {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-middle-heading {
    text-transform: uppercase;
  }
  .footer-middle-subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-middle-subscribe-input {
    width: 80%;
    text-align: center;
  }
  .footer-middle-subscribe-input:focus {
    outline: none;
    border: 1px solid #555;
  }
  .footer-middle-subscribe-btn {
    background-color: #666;
    cursor: pointer;
    border: 1px solid #555;
    outline: none;
    padding: 5px;
  }
  .footer-middle-subscribe-btn:hover {
    color: #fff;
  }
  .footer-middle-contact-main-color {
    color: var(--main);
  }
  .footer-middle-para {
    text-align: center;
    font-size: 12px;
  }
  .footer-about-more-link {
    color: var(--main);
    text-decoration: none;
  }
  .sign-up-form-btns {
    margin-top: 0.5rem;
  }
  .sign-up-form-btns .sign-in,
  .sign-up-form-btns .search-button {
    cursor: pointer;
    width: 22%;
  }
  .results-heading {
    text-align: center;
    padding: 2rem 0;
  }
  .results-schools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .results-schools-school {
    height: 270px;
    width: 355px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 1rem;
  }
  .results-schools-school-p {
    color: var(--text-white);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 4;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    height: 15%;
    margin-bottom: 1rem;
  }
  .results-schools-school-more {
    text-decoration: none;
    background-color: var(--main);
    padding: 6px;
    color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    display: none;
  }
  .results-schools-school-more:hover {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  .results-schools-school:hover > .results-schools-school-p,
  .results-schools-school:hover > .results-schools-school-more {
    display: block;
  }
  .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .details-item {
    border: 1px solid #999;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 50%;
  }
  .details-item-first, .details-item-second {
    font-weight: bold;
  }
  .details-item-first {
    color: #333;
  }
  .details-item-second {
    color: #81b6e2;
  }
  .details-btn {
    border-radius: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .school-location iframe {
    width: 600px;
    height: 450px;
  }
}

@media (min-width: 1024px) {
  .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #eee;
    padding: 2rem 1rem;
  }
  .search-form-title {
    margin-bottom: 2rem;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 75%;
  }
  .form-selection-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-label {
    color: var(--text-darker);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .form-input, .form-select {
    padding: 7px;
    margin-bottom: 0.5rem;
  }
  .form-input:focus, .form-select:focus {
    outline-color: #6cabde;
  }
  .form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    margin-top: 17px;
  }
  .form-btn-info {
    background: #457db4;
    margin-right: 10px;
  }
  .form-btn-info:hover {
    background: #3d86ce;
  }
  .form-btn-warning {
    background: #e5ab5b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-btn-warning:hover {
    background: #e9a23f;
  }
  .form-btn-warning-icon {
    margin-right: 4px;
  }
  .results-schools-school {
    height: 275px;
    width: 427px;
  }
  .school-location iframe {
    width: 960px;
    height: 450px;
  }
}
/*# sourceMappingURL=style.css.map */