* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size:  1rem;
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.24;
}

h1 {
    font-size: 2.3rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-bar {
background: #D45649;
color: #fff;
display: flex;
flex-wrap: wrap;
 justify-content: center;
 padding: .7rem 1rem;

 & .logo {
    width: 100%;
    text-align: center;
    font-size: 2rem;
 }

 &-list {
     list-style: none;
     display: flex;
     border: 1px solid green;
 }

 &-item .sm-none {
    display: none;
 }
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &-video-container {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
    }

    &-search {
        // z-index: 1; 
        display:flex;
        flex-direction: column;
        border: 1px solid rebeccapurple
}

}