:root {
  --main:  #D45649;
  --main-light: #eb695b;
  --button-gray: #CCCFD7;
  --text-darker: #333;
  --text-lighter: #999;
  --text-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.24;
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-bar {
  background: var(--main);
  color: var(--text-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .7rem 1rem;
}

.nav-bar .logo {
  width: 100%;
  text-align: center;
  font-size: 3rem;
}

.nav-bar-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2rem;
  margin-top: 1rem;
}

.nav-bar-item .sm-none {
  display: none;
}

.nav-bar-link {
  color: var(--text-white);
  -webkit-transition: color .1s ease-in;
  transition: color .1s ease-in;
}

.nav-bar-link:hover {
  color: var(--text-lighter);
}

.header-content {
  height: 522px;
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header-content-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header-content-media {
  min-width: 100%;
  min-height: 100%;
}

.header-content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: #222;
  opacity: .9;
  z-index: 1;
}

.header-content-info {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-content-heading {
  margin-bottom: 1rem;
  color: var(--text-white);
  text-transform: uppercase;
  text-align: center;
}

.header-content-button {
  z-index: 2;
  text-align: center;
  background-color: var(--button-gray);
  padding: 10px;
  width: 25%;
  margin-top: 3rem;
  margin-left: 3rem;
  border-radius: 3px;
  color: var(--text-darker);
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header-content-button:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.search {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 8px;
}

.search-label {
  text-transform: uppercase;
  color: var(--text-darker);
}

.search-input, .search-button {
  padding: 10px;
  margin-bottom: .5rem;
  outline: none;
}

.search-input :focus {
  outline: none;
}

.search-button {
  color: var(--text-white);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--main);
  border: 1px solid var(--main);
  cursor: pointer;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.search-button:hover {
  background-color: var(--main-light);
  -webkit-box-shadow: 1px 1px 5px #666;
          box-shadow: 1px 1px 5px #666;
}
/*# sourceMappingURL=style.css.map */