:root {

    // backgrounds colors
    --main:  #D45649; 
    --main-light: #eb695b;
    --button-gray: #CCCFD7;

    // font colors
    --text-darker : #333;
    --text-lighter : #999;
    --text-white : #fff;
}

@mixin transform-uppercase {
    text-transform: uppercase;
}

@mixin text-white-center {
    color: var(--text-white);
    text-transform: uppercase;
    text-align: center;
}

@mixin text-dark-center {
    color: var(--text-darker);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size:  1rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.24;
}

h1 {
    font-size: 1.5rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.text-center {
    text-align:center;
}
// navbar
.nav-bar {
background: var(--main);
color: var(--text-white);
display: flex;
flex-wrap: wrap;
 justify-content: center;
 padding: .7rem 1rem;

 & .logo {
    width: 100%;
    text-align: center;
    font-size: 3rem;

    a {
        text-decoration: none;
        color:#fff  
    }
 }

 

 &-list {
     list-style: none;
     display: flex;
     width: 70%;
     justify-content: space-between;
    font-size: 2rem;
    margin-top: 1rem;
 }

 &-item .sm-none {
    display: none;
 }

 &-link {
     color: var(--text-white);
    transition: color .1s ease-in;

     &:hover {
        color:var(--text-lighter);
    }
 }


}

//header-content 
.header-content {
    height: 522px;
    width: 100%;
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;

    &-video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &-media {
        min-width: 100%;
        min-height: 100%;
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #222;
        opacity: .9;
        z-index: 1;
    }

    &-info {
         z-index: 2; 
        display:flex;
        flex-direction: column
   }

   &-heading {
    margin-bottom: 1rem;
    @include text-white-center;
  }

   &-button {
    z-index: 2;
    text-align:center;
    background-color: var(--button-gray);
    padding: 10px;
    width: 34%;
    margin-top: 3rem;
    margin-left: 3rem;
    border-radius: 3px;
    color: var(--text-darker);
    text-decoration: none;
transition: all .2s;
    &:hover {
        transform: translateY(-4px);
    }
  }


}

// search
.search {
    background-color: rgba(255, 255, 255, .5);
    padding: 15px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 8px;

    &-label {
        @include transform-uppercase;
        color: var(--text-darker);
    }

    &-input, &-button {
        padding: 10px;
        margin-bottom: .5rem;
        outline: none;
    }

    &-input :focus {
    outline:none;
    }

    &-button {
        @include text-white-center;
        background-color:var(--main);
        border: 1px solid var(--main);
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            background-color: var(--main-light);
            box-shadow: 1px 1px 5px #666;
        }

    }

   
}

.search-main {
    margin: 3rem 0;
}
// section how it works

.how-works {
    padding: 3rem 0;

    &-heading {
        color: var(--main);
        @include transform-uppercase;
        text-align:center;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;

        img {
            width: 6rem;
            height: 6rem
        }
    }

    &-heading-tertiary {
        @include transform-uppercase;
        color: var(--text-darker);
        margin: 1rem 0;
    }

    &-para {
        text-align: center;
        padding: 0 1rem;
    }

}}

.middle {
    &-item {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 1rem 0;
        color: #fff;

        img {
            height: 11rem;
            width: 11rem;
            border-radius: 50%;
        }
    
    }

    &-action {
        width:75%;
    }
    &-para {
        margin-bottom: 1rem;
    }
   &-button {
       background-color: #CCCFD7;
       text-decoration: none;
       color: var(--main);
       padding: 10px;
       transition: all .2s;

       &:hover {
        background-color: #222;
        color:#CCCFD7;
       }
   }

}



.middle-item-first {
    background-color: var(--main);
}

.middle-item-second {
    background-color: #99A4A5;
}

.middle-item-third {
    background-color: #519CD8;
}


.footer {
    background: #000;
    padding: 2rem .3rem;
    color:#fff;

    &-list {
        list-style: none;
        display: flex;
       border-top: 1px solid #fff;
       border-bottom: 1px solid #fff;
       padding: .5rem 0;
        justify-content: space-around;
        position: relative;
    }

    &-logo {
        border: 1px solid #fff;
        height: 4rem;
        width: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #000;
        border-radius: 50%;
        top: -10px;
          &:hover {
              background-color: var(--main);
          }
    }

    &-ad {
        margin-right: 2rem;
    }

    &-fb {
        margin-left: 3rem;
    }

    &-link {
        @include text-white-center;
        text-decoration: none;
        font-size: 12px;

        &:hover {
            color: #99A4A5;
        }
    }
}

.footer-middle {
    display: flex;
    padding-top: 2rem;

    &-subscribe, &-contact, &-about {
        width:33%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-heading {
        @include transform-uppercase;
    }

    &-subscribe {
        
        &-form {
            display: flex;
        }
        

        &-input {
            width: 70%;
            text-align: center;

            &:focus {
                outline: none;
                border: 1px solid #555;
            }

            
        }
        &-btn {
            background-color: #666;
            cursor: pointer;
            border: 1px solid #555;
            outline: none;
            padding: 5px;

            &:hover {
                color:#fff;
            }
        }
    }
    &-contact {
        
        &-main-color {
            color: var(--main);
        }
    }

    &-para {
        text-align: center;
        font-size: 12px;
    }
}

.footer-about-more-link {
color: var(--main);
text-decoration:none ;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    &-social-link {
        text-decoration: none;
        color: #555;
        font-size: 12px;
    }
    span {
        font-size: 12px;
    }

    &-madeby,&-future {
        margin-right: 5px;
    }
}

.search-form {
    background-color:#EEE;
    padding: 2rem 1rem;
    &-title {
        margin-bottom: 2rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 63%;
    margin: 0 auto;

    &-label {
    @include text-dark-center();
    margin-bottom: .5rem 0;
    }

    &-input, &-select {
        padding: 7px;
        margin-bottom: .5rem;

        &:focus {
            outline-color:#6CABDE;
        }
    }
}